{% extends 'demo/base.html' %}
{% block navbar_analysis %}
<!-- Charts -->
<li class="nav-item active">
    <a class="nav-link" href="{% url 'analysis-demo' %}">
        <i class="fas fa-chart-line"></i>
        <span>Analysis</span></a>
</li>
{% endblock %}
{% block content%}
<style>
    .prog{
    width: 150px;
    height: 150px;
    line-height: 150px;
    background: none;
    margin: 0 auto;
    box-shadow: none;
    position: relative;
}
.prog:after{
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 12px solid #fff;
    position: absolute;
    top: 0;
    left: 0;
}
.prog > span{
    width: 50%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    z-index: 1;
}
.prog .prog-left{
    left: 0;
}
.prog .prog-bar{
    width: 100%;
    height: 100%;
    background: none;
    border-width: 12px;
    border-style: solid;
    position: absolute;
    top: 0;
}
.prog .prog-left .prog-bar{
    left: 100%;
    border-top-right-radius: 80px;
    border-bottom-right-radius: 80px;
    border-left: 0;
    -webkit-transform-origin: center left;
    transform-origin: center left;
}
.prog .prog-right{
    right: 0;
}
.prog .prog-right .prog-bar{
    left: -100%;
    border-top-left-radius: 80px;
    border-bottom-left-radius: 80px;
    border-right: 0;
    -webkit-transform-origin: center right;
    transform-origin: center right;
    animation: loading-1 1.8s linear forwards;
}
.prog .prog-value{
    width: 90%;
    height: 90%;
    border-radius: 50%;
    background: #44484b;
    font-size: 24px;
    color: #fff;
    line-height: 135px;
    text-align: center;
    position: absolute;
    top: 5%;
    left: 5%;
}
.prog.blue .prog-bar{
    border-color: #0275d8;
}
.prog.blue .prog-left .prog-bar{
    animation: loading-2 1.5s linear forwards 1.8s;
}
.prog.yellow .prog-bar{
    border-color: #f0ad4e;
}
.prog.yellow .prog-left .prog-bar{
    animation: loading-3 1s linear forwards 1.8s;
}
.prog.red .prog-bar{
    border-color: #d9534f;
}
.prog.red .prog-left .prog-bar{
    animation: loading-4 0.4s linear forwards 1.8s;
}
.prog.green .prog-bar{
    border-color: #5cb85c;
}
.prog.green .prog-left .prog-bar{
    animation: loading-5 1.2s linear forwards 1.8s;
}
@keyframes loading-1{
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }
}
@keyframes loading-2{
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(144deg);
        transform: rotate(144deg);
    }
}
@keyframes loading-3{
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
    }
}
@keyframes loading-4{
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(36deg);
        transform: rotate(36deg);
    }
}
@keyframes loading-5{
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(126deg);
        transform: rotate(126deg);
    }
}
@media only screen and (max-width: 990px){
    .prog{ margin-bottom: 20px; }
}

    @media (max-width: 1499px) { /*For laptops*/
        .large {height: 35rem;}
    }

    @media (min-width: 1500px) { /*For large monitors*/
        .large {height: 55rem;}
    }

</style>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>

<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800 mt-4">Analysis</h1>

    <!-- Content Row -->
    <div class="row container-fluid pt-4">

        <div class="card shadow mb-4">
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <div class="row">

                    <!-- default -->
                    <div class="col-md-4 col-sm-3 col-lg-2 py-2">
                        <div class="clearfix">
                            <h5>Jan</h5>
                            <div class="c100 p{{ monthly_total_percentage.0 }} {{ monthly_colour.0 }}">
                                <span>{{ monthly_total_percentage.0 }}%</span>
                                <div class="slice">
                                    <div class="bar"></div>
                                    <div class="fill"></div>
                                </div>
                            </div>
                            <h6>₹{{ monthly_expenditure.0 }} / ₹{{ monthly_budget.0 }}</h6>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-3 col-lg-2 py-2">
                        <div class="clearfix">
                            <h5>Feb</h5>
                            <div class="c100 p{{ monthly_total_percentage.1 }} {{ monthly_colour.1 }}">
                                <span>{{ monthly_total_percentage.1 }}%</span>
                                <div class="slice">
                                    <div class="bar"></div>
                                    <div class="fill"></div>
                                </div>
                            </div>
                            <h6>₹{{ monthly_expenditure.1 }} / ₹{{ monthly_budget.1 }}</h6>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-3 col-lg-2 py-2">
                        <div class="clearfix">
                            <h5>Mar</h5>
                            <div class="c100 p{{ monthly_total_percentage.2 }} {{ monthly_colour.2 }}">
                                <span>{{ monthly_total_percentage.2 }}%</span>
                                <div class="slice">
                                    <div class="bar"></div>
                                    <div class="fill"></div>
                                </div>
                            </div>
                            <h6>₹{{ monthly_expenditure.2 }} / ₹{{ monthly_budget.2 }}</h6>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-3 col-lg-2 py-2">
                        <div class="clearfix">
                            <h5>Apr</h5>
                            <div class="c100 p{{ monthly_total_percentage.3 }} {{ monthly_colour.3 }}">
                                <span>{{ monthly_total_percentage.3 }}%</span>
                                <div class="slice">
                                    <div class="bar"></div>
                                    <div class="fill"></div>
                                </div>
                            </div>
                            <h6>₹{{ monthly_expenditure.3 }} / ₹{{ monthly_budget.3 }}</h6>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-3 col-lg-2 py-2">
                        <div class="clearfix">
                            <h5>May</h5>
                            <div class="c100 p{{ monthly_total_percentage.4 }} {{ monthly_colour.4 }}">
                                <span>{{ monthly_total_percentage.4 }}%</span>
                                <div class="slice">
                                    <div class="bar"></div>
                                    <div class="fill"></div>
                                </div>
                            </div>
                            <h6>₹{{ monthly_expenditure.4 }} / ₹{{ monthly_budget.4 }}</h6>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-3 col-lg-2 py-2">
                        <div class="clearfix">
                            <h5>Jun</h5>
                            <div class="c100 p{{ monthly_total_percentage.5 }} {{ monthly_colour.5 }}">
                                <span>{{ monthly_total_percentage.5 }}%</span>
                                <div class="slice">
                                    <div class="bar"></div>
                                    <div class="fill"></div>
                                </div>
                            </div>
                            <h6>₹{{ monthly_expenditure.5 }} / ₹{{ monthly_budget.5 }}</h6>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-3 col-lg-2 py-2">
                        <div class="clearfix">
                            <h5>Jul</h5>
                            <div class="c100 p{{ monthly_total_percentage.6 }} {{ monthly_colour.6 }}">
                                <span>{{ monthly_total_percentage.6 }}%</span>
                                <div class="slice">
                                    <div class="bar"></div>
                                    <div class="fill"></div>
                                </div>
                            </div>
                            <h6>₹{{ monthly_expenditure.6 }} / ₹{{ monthly_budget.6 }}</h6>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-3 col-lg-2 py-2">
                        <div class="clearfix">
                            <h5>Aug</h5>
                            <div class="c100 p{{ monthly_total_percentage.7 }} {{ monthly_colour.7 }}">
                                <span>{{ monthly_total_percentage.7 }}%</span>
                                <div class="slice">
                                    <div class="bar"></div>
                                    <div class="fill"></div>
                                </div>
                            </div>
                            <h6>₹{{ monthly_expenditure.7 }} / ₹{{ monthly_budget.7 }}</h6>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-3 col-lg-2 py-2">
                        <div class="clearfix">
                            <h5>Sep</h5>
                            <div class="c100 p{{ monthly_total_percentage.8 }} {{ monthly_colour.8 }}">
                                <span>{{ monthly_total_percentage.8 }}%</span>
                                <div class="slice">
                                    <div class="bar"></div>
                                    <div class="fill"></div>
                                </div>
                            </div>
                            <h6>₹{{ monthly_expenditure.8 }} / ₹{{ monthly_budget.8 }}</h6>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-3 col-lg-2 py-2">
                        <div class="clearfix">
                            <h5>Oct</h5>
                            <div class="c100 p{{ monthly_total_percentage.9 }} {{ monthly_colour.9 }}">
                                <span>{{ monthly_total_percentage.9 }}%</span>
                                <div class="slice">
                                    <div class="bar"></div>
                                    <div class="fill"></div>
                                </div>
                            </div>
                            <h6>₹{{ monthly_expenditure.9 }} / ₹{{ monthly_budget.9 }}</h6>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-3 col-lg-2 py-2">
                        <div class="clearfix">
                            <h5>Nov</h5>
                            <div class="c100 p{{ monthly_total_percentage.10 }} {{ monthly_colour.10 }}">
                                <span>{{ monthly_total_percentage.10 }}%</span>
                                <div class="slice">
                                    <div class="bar"></div>
                                    <div class="fill"></div>
                                </div>
                            </div>
                            <h6>₹{{ monthly_expenditure.10 }} / ₹{{ monthly_budget.10 }}</h6>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-3 col-lg-2 py-2">
                        <div class="clearfix">
                            <h5>Dec</h5>
                            <div class="c100 p{{ monthly_total_percentage.11 }} {{ monthly_colour.11 }}">
                                <span>{{ monthly_total_percentage.11 }}%</span>
                                <div class="slice">
                                    <div class="bar"></div>
                                    <div class="fill"></div>
                                </div>
                            </div>
                            <h6>₹{{ monthly_expenditure.11 }} / ₹{{ monthly_budget.11 }}</h6>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">SUMMARY</h6>
                </div>
            <div class="card-body">
                <p>{{ summaryMonthly }}</p>
            </div>
        </div>
    </div>
    <!-- Area Chart -->
    <div class="col-xl-12 col-xs-12">
        <div class="card shadow mb-4">
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <div class="mx-auto d-flex">
                    <div class="row">
                        <div class="col">
                            <div class="mx-auto d-flex">
                                <!-- Setting of Month and Year Picker-->
                                <form method="post">
                                    {% csrf_token %}
                                    <div class="row">
                                        <!-- Month Picker-->
                                        <div class="col">
                                            <div class="form-group">
                                                <div class="dropdown">
                                                    <select class=" form-control btn-user py-1 " id="month"
                                                            name="month" required>
                                                        <option value="Jan">Jan</option>
                                                        <option value="Feb">Feb</option>
                                                        <option value="Mar">Mar</option>
                                                        <option value="Apr">Apr</option>
                                                        <option value="May">May</option>
                                                        <option value="Jun">Jun</option>
                                                        <option value="Jul">Jul</option>
                                                        <option value="Aug">Aug</option>
                                                        <option value="Sep">Sept</option>
                                                        <option value="Oct">Oct</option>
                                                        <option value="Nov">Nov</option>
                                                        <option value="Dec">Dec</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- Year Picker-->
                                        <div class="col">
                                            <div class="form-group">
                                                <div class="dropdown">
                                                    <select class=" form-control btn-user py-1 " id="year"
                                                            name="year" required>
                                                        <option value="2011">2011</option>
                                                        <option value="2012">2012</option>
                                                        <option value="2013">2013</option>
                                                        <option value="2014">2014</option>
                                                        <option value="2015">2015</option>
                                                        <option value="2016">2016</option>
                                                        <option value="2017">2017</option>
                                                        <option value="2018">2018</option>
                                                        <option value="2019">2019</option>
                                                        <option selected value="2020">2020</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- Set Button for Month and Year Picker-->
                                        <div class="col">
                                            <button class="btn btn-primary mx-auto" name="setDateRange"
                                                    type="submit" value="setDateRange">
                                                Set
                                            </button>
                                        </div>
                                    </div>
                                </form>
                                <!-- Re-setting of Month and Year Picker-->
                                <form method="get">
                                    <div class="col px-5">
                                        <button class="btn btn-primary mx-auto" formmethod="get" name="reset"
                                                type="submit" value="reset">
                                            Reset
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Line Chart -->
    <div class="col-xl-12 col-xs-12">
        {% if isEmpty == False %}
        <div class="card shadow mb-4">
            <!--Card: Display Month and Year-->
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <div>
                    <div class="col">
                        <h3>Month: {{ charMonth }}</h3>
                    </div>
                    <div class="col">
                        <h3>Year: {{ year }}</h3>
                    </div>
                </div>
            </div>
            <!--Card: Display Chart Header-->
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">LINE CHART</h6>
            </div>
            <!--Card: Display Chart Laptop-->
            <!-- Card Body -->
            <div class="card-body mb-5 d-none d-xl-block large">
                <div class="chart-pie pt-4 pb-2 ">
                    <canvas id="lineChart"></canvas>
                </div>
            </div>
            <!--Card: Display Chart Mobile-->
            <div class="card-body mb-5 d-xl-none" style="height: 16rem;">
                <div class="chart-pie pt-4 pb-2 ">
                    <canvas id="lineChartPhone"></canvas>
                </div>
            </div>
        </div>
        {% else %}
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">LINE CHART</h6>
            </div>
            <div class="card-body">
                <p>You have not recorded any transactions yet. You can
                    <a href="{% url 'manual-demo' %}">Add Transactions Manually</a> or
                    <a href="{% url 'bill-demo' %}">Add Transactions from bill.</a>
                </p>
            </div>
        </div>
        {% endif %}
    </div>
    <!-- EXPENSE BARS CARD-->
    <div class="col-xl-12 col-xs-12">
        {% if isEmpty == False %}
        <div class="card shadow mb-4">
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">EXPENSE BARS</h6>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-xs-12 col-md-6">
                        <div class="pb-4">
                            <h6> Automobile - {{ category_wise_expenditure.0 }} / {{ category_wise_budget.0 }}</h6>
                            <div class="progress" style="height: 20px;">
                                <div aria-valuemax="100"
                                     aria-valuemin="0" aria-valuenow="25"
                                     class="progress-bar bg-{{ progress_colour.0 }}" role="progressbar"
                                     style="width: {{ progress.0 }}%;">
                                </div>
                            </div>
                        </div>
                        <div class="pb-4">
                            <h6> Bank Transfer - {{ category_wise_expenditure.1 }} / {{ category_wise_budget.1 }}</h6>
                            <div class="progress" style="height: 20px;">
                                <div aria-valuemax="100"
                                     aria-valuemin="0" aria-valuenow="25"
                                     class="progress-bar bg-{{ progress_colour.1}}" role="progressbar"
                                     style="width: {{ progress.1 }}%;">
                                </div>
                            </div>
                        </div>
                        <div class="pb-4">
                            <h6> Cash Withdrawal - {{ category_wise_expenditure.2 }} / {{ category_wise_budget.2 }}</h6>
                            <div class="progress" style="height: 20px;">
                                <div aria-valuemax="100"
                                     aria-valuemin="0" aria-valuenow="25"
                                     class="progress-bar bg-{{ progress_colour.2 }}" role="progressbar"
                                     style="width: {{ progress.2 }}%;">
                                </div>
                            </div>
                        </div>
                        <div class="pb-4">
                            <h6> Education - {{ category_wise_expenditure.3 }} / {{ category_wise_budget.3 }}</h6>
                            <div class="progress" style="height: 20px;">
                                <div aria-valuemax="100"
                                     aria-valuemin="0" aria-valuenow="25"
                                     class="progress-bar bg-{{ progress_colour.3 }}" role="progressbar"
                                     style="width: {{ progress.3 }}%;">
                                </div>
                            </div>
                        </div>
                        <div class="pb-4">
                            <h6> Entertainment - {{ category_wise_expenditure.4 }} / {{ category_wise_budget.4 }}</h6>
                            <div class="progress" style="height: 20px;">
                                <div aria-valuemax="100"
                                     aria-valuemin="0" aria-valuenow="25"
                                     class="progress-bar bg-{{ progress_colour.4 }}" role="progressbar"
                                     style="width: {{ progress.4 }}%;">
                                </div>
                            </div>
                        </div>
                        <div class="pb-4">
                            <h6> Fine - {{ category_wise_expenditure.5 }} / {{ category_wise_budget.5 }}</h6>
                            <div class="progress" style="height: 20px;">
                                <div aria-valuemax="100"
                                     aria-valuemin="0" aria-valuenow="25"
                                     class="progress-bar bg-{{ progress_colour.5 }}" role="progressbar"
                                     style="width: {{ progress.5 }}%;">
                                </div>
                            </div>
                        </div>
                        <div class="pb-4">
                            <h6> Food - {{ category_wise_expenditure.6 }} / {{ category_wise_budget.6 }}</h6>
                            <div class="progress" style="height: 20px;">
                                <div aria-valuemax="100"
                                     aria-valuemin="0" aria-valuenow="25"
                                     class="progress-bar bg-{{ progress_colour.6 }}" role="progressbar"
                                     style="width: {{ progress.6 }}%;">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-6">
                        <div class="pb-4">
                            <h6> Health care - {{ category_wise_expenditure.7 }} / {{ category_wise_budget.7 }}</h6>
                            <div class="progress" style="height: 20px;">
                                <div aria-valuemax="100"
                                     aria-valuemin="0" aria-valuenow="25"
                                     class="progress-bar bg-{{ progress_colour.7 }}" role="progressbar"
                                     style="width: {{ progress.7 }}%;">
                                </div>
                            </div>
                        </div>
                        <div class="pb-4">
                            <h6> Other - {{ category_wise_expenditure.8 }} / {{ category_wise_budget.8 }}</h6>
                            <div class="progress" style="height: 20px;">
                                <div aria-valuemax="100"
                                     aria-valuemin="0" aria-valuenow="25"
                                     class="progress-bar bg-{{ progress_colour.8 }}" role="progressbar"
                                     style="width: {{ progress.8 }}%;">
                                </div>
                            </div>
                        </div>
                        <div class="pb-4">
                            <h6> Paytm - {{ category_wise_expenditure.9 }} / {{ category_wise_budget.9 }}</h6>
                            <div class="progress" style="height: 20px;">
                                <div aria-valuemax="100"
                                     aria-valuemin="0" aria-valuenow="25"
                                     class="progress-bar bg-{{ progress_colour.9 }}" role="progressbar"
                                     style="width: {{ progress.9 }}%;">
                                </div>
                            </div>
                        </div>
                        <div class="pb-4">
                            <h6> Recharge - {{ category_wise_expenditure.10 }} / {{ category_wise_budget.10 }}</h6>
                            <div class="progress" style="height: 20px;">
                                <div aria-valuemax="100"
                                     aria-valuemin="0" aria-valuenow="25"
                                     class="progress-bar bg-{{ progress_colour.10 }}" role="progressbar"
                                     style="width: {{ progress.10 }}%;">
                                </div>
                            </div>
                        </div>
                        <div class="pb-4">
                            <h6> Shopping - {{ category_wise_expenditure.11 }} / {{ category_wise_budget.11 }}</h6>
                            <div class="progress" style="height: 20px;">
                                <div aria-valuemax="100"
                                     aria-valuemin="0" aria-valuenow="25"
                                     class="progress-bar bg-{{ progress_colour.11 }}" role="progressbar"
                                     style="width: {{ progress.11 }}%;">
                                </div>
                            </div>
                        </div>
                        <div class="pb-4">
                            <h6> Travel - {{ category_wise_expenditure.12 }} / {{ category_wise_budget.12 }}</h6>
                            <div class="progress" style="height: 20px;">
                                <div aria-valuemax="100"
                                     aria-valuemin="0" aria-valuenow="25"
                                     class="progress-bar bg-{{ progress_colour.12 }}" role="progressbar"
                                     style="width: {{ progress.12 }}%;">
                                </div>
                            </div>
                        </div>
                        <div class="pb-4">
                            <h6> UPI - {{ category_wise_expenditure.13 }} / {{ category_wise_budget.13 }}</h6>
                            <div class="progress" style="height: 20px;">
                                <div aria-valuemax="100"
                                     aria-valuemin="0" aria-valuenow="25"
                                     class="progress-bar bg-{{ progress_colour.13 }}" role="progressbar"
                                     style="width: {{ progress.13 }}%;">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <p>{{ summaryCategory }}</p>
            </div>
        </div>
        {% else %}
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">EXPENSE BARS</h6>
            </div>
            <div class="card-body">
                <p>You have not recorded any transactions yet. You can
                    <a href="{% url 'manual-demo' %}">Add Transactions Manually</a> or
                    <a href="{% url 'bill-demo' %}">Add Transactions from bill.</a>
                </p>
            </div>
        </div>
        {% endif %}
    </div>
</div>

<script>
var data1 = {{ category_wise_expenditure }};
var data2 = {{ category_wise_budget }};

var barChart = document.getElementById('lineChart').getContext('2d');
var mixedChart = new Chart(barChart, {
    type: 'line',
    data: {
        datasets: [{
            label: 'Your Expenditure ',
            data: data1,
            backgroundColor: 'rgb(255 , 255, 0, 0)',
            borderColor: 'rgb(0, 255, 0, 0.5)',


        }, {
            label: 'Your Budget',
            data: data2,
            backgroundColor: 'rgb(0, 255, 0, 0)',
            borderColor: 'rgb(255, 0, 0, 1)',

        }],
        fill: false,
        labels: ["Automobile", "Bank Transfer", "Cash Withdrawal", "Education", "Entertainment", "Fine",
                  "Food", "Health care", "Other", "PayTM", "Recharge", "Shopping", "Travel", "UPI"]
    },
    options: {
    maintainAspectRatio: true,
        }
});
</script>


<script>
    var data1 = {{ categoryTotal }};
    var data2 = {{ budgetList }};

    var barChart = document.getElementById('lineChartPhone').getContext('2d');
    var mixedChart = new Chart(barChart, {
        type: 'line',
        data: {
            datasets: [{
                label: 'Your Expenditure ',
                data: data1,
                backgroundColor: 'rgb(255 , 255, 0, 0)',
                borderColor: 'rgb(0, 255, 0, 0.5)',


            }, {
                label: 'Your Budget',
                data: data2,
                backgroundColor: 'rgb(0, 255, 0, 0)',
                borderColor: 'rgb(255, 0, 0, 1)',

            }],
            fill: false,
            labels: ["Automobile", "Bank Transfer", "Cash Withdrawal", "Education", "Entertainment", "Fine",
                "Food", "Health care", "Other", "PayTM", "Recharge", "Shopping", "Travel", "UPI"]
        },
        options: {
            maintainAspectRatio: false,
        }
    });
</script>
{% endblock %}