<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
          name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">
    <link href="{% static 'images/icons/icon.ico' %}" rel="icon" type="image/png"/>

    <title>Expense Manager Demo</title>

    <link href="{% static 'demo.css' %}" rel="stylesheet">
    <link href="{% static 'imp/css/sb-admin-2.min.css' %}" rel="stylesheet">
    <link href="{% static 'iframe.css' %}" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" id="bootstrap-css" rel="stylesheet">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link href="{% static 'demo-computer.css' %}" rel="stylesheet">

</head>

<body style="background-image: url('../../static/images/ipad.jpg')">

<!-- TOP NAVBAR -->


<div class="container-fluid" id="page-top">
    <nav class="navbar navbar-expand-lg navbar-dark bg-gray-900 mb-1 fixed-top">
        <a class="navbar-brand" href="https://expensemanager.xyz">
            <img src="{% static 'images/icons/icon.ico' %}" width="30" height="30" class="d-inline-block align-top"
                 alt="">
            Expense Manager
        </a>
        <a class="navbar-brand" href="{% url 'options-demo' %}">
            Demo
        </a>
        <button aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler"
                data-target="#navbarNavDropdown" data-toggle="collapse" type="button">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/phone"> Smartphone <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/tablet"> Tablet <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active d-none d-lg-block">
                    <a class="nav-link" href="/computer"> Computer <span class="sr-only">(current)</span></a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container mt-5">
        <div class="device" style="width:100%;">
            <div class="object-laptop">
                <div class="screen">
                    <div class="lcd delay-me" style="overflow-y: auto; pointer-events: all; background-image: url('../../static/images/ipad.jpg')">
                        <iframe class="delay-me" allowfullscreen="allowfullscreen" frameborder="0" height="100%"
                                src="https://demo.expensemanager.xyz" style="position: absolute;" width="100%">
                        </iframe>
                    </div>
                    <!--                <div class="gloss"></div>-->
                    <!--                <div class="reflexion"></div>-->
                    <div class="highlight one"></div>
                    <div class="highlight two"></div>
                </div>
                <div class="keyboard one"></div>
                <div class="keyboard two"></div>
            </div>
        </div>


    </div>
</div>

<script src="https://d1r27dnp1fh4g5.cloudfront.net/tmp/jsloader-501f395d8619.js?1574161973"
        type="text/javascript"></script>
</body>
</html>