{% extends 'demo/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block navbar_add_transactions %}
<!-- Add Transactions Items -->
<li class="nav-item active">
    <a aria-controls="collapseTwo" aria-expanded="true" class="nav-link collapsed" data-target="#collapseTwo"
       data-toggle="collapse" href="#">
        <i class="fas fa-plus-circle"></i>
        <span>Add Transactions</span>
    </a>
    <div aria-labelledby="headingTwo" class="collapse" data-parent="#accordionSidebar" id="collapseTwo">
        <div class="bg-white py-2 collapse-inner rounded">
            <a class="collapse-item" href="{% url 'manual-demo' %}">Add Manually</a>
            <a class="collapse-item" href="{% url 'bill-demo' %}">Add Bill</a>
            <a class="collapse-item" href="{% url 'csv-demo' %}">Add CSV</a>
        </div>
    </div>
</li>
{% endblock %}

{% block content %}
<!-- Begin Page Content -->
<div class="container-fluid">
    <!-- Begin Page Content -->
    <div class="container-fluid">

        <!-- Page Heading -->
        <div class="d-sm-flex align-items-center justify-content-between my-4">
            <h1 class="h3 mb-0 text-gray-800">Add Transactions Manually</h1>
        </div>
        <!-------------------------------------------------------------------------------------------------------------------------->
    </div>

    {% if showManualCard == True %}
    <style>
    .checkCategoryCard{
    display: none;
    }
    </style>
    {% elif showManualCard == False %}
    <style>
    .checkCategoryCard{
    display: block;
    }
    .manualCard{
    display: none;
    }
    </style>
    {% endif %}
    <div class="mx-auto manualCard">
        <div class="col-xl-5 col-lg-5 mx-auto ">
            <div class="card shadow mb-4">
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold ">
                        <span>Enter your transactions manually.</span><br>
                        <span>Choose a category you would like to put your transaction into.</span><br>
                        <span>If you do not know the category, enter "UNKNOWN" in the category field, and our app will predict it for you.</span>
                    </h6>

                </div>
            </div>

            <!-- Card Body -->
            <div class="card-body shadow">
                <form action="{% url 'manual-demo' %}" class="user" method='post'>
                    {% csrf_token %}
                    <div class="form-group">
                        <input class="form-control btn-user" name="dateOfTransaction"
                               placeholder="Date of Transaction"
                               required type="date">
                    </div>
                    <div class="form-group">
                        <input class="form-control btn-user" name="description" placeholder="Description"
                               required type="text">
                    </div>
                    <div class="form-group">
                        <input class="form-control btn-user py-1" name="cost" placeholder="Cost"
                               required type="number">
                    </div>
                    <div class="dropdown">
                        <label for="category">Choose a category</label>
                        <select class=" form-control btn-user py-1 " id="category" name="category" required>
                            <option value="Automobile">Automobile</option>
                            <option value="Bank Transfer">Bank Transfer</option>
                            <option value="Cash Withdrawal">Cash Withdrawal</option>
                            <option value="Education">Education</option>
                            <option value="Entertainment">Entertainment</option>
                            <option value="Fine">Fine</option>
                            <option value="Food">Food</option>
                            <option value="Health Care">Health Care</option>
                            <option value="Other">Other</option>
                            <option value="Paytm">Paytm</option>
                            <option value="Recharge">Recharge</option>
                            <option value="Shopping">Shopping</option>
                            <option value="Travel">Travel</option>
                            <option value="UPI">UPI</option>
                            <option value="Unknown">UNKNOWN</option>
                        </select>
                    </div>
                    <br>
                    <div>
                        <button class="btn btn-primary btn-user btn-block" type="submit" name="manualAdd" value="manualAdd">
                            Add
                        </button>
                    </div>
                </form>
            </div>

            <!------------------------------------------------------------------------------------------------------------->
            {% if user.id == 4 %}
            <hr>
            <div class="card-body shadow">
                <form action="{% url 'predict-demo' %}" class="user" method='post'>
                    {% csrf_token %}

                    <div class="form-group">
                        <input class="form-control btn-user" name="transaction" placeholder="Transaction"
                               required type="text">
                    </div>

                    <br>
                    <div>
                        <button class="btn btn-primary btn-user btn-block" type="submit">
                            Predict
                        </button>
                    </div>
                </form>
            </div>
            {% endif %}
        </div>
    </div>
    <!------------------------------------------------------------------------------------------------------------->
    <div class="mx-auto">
        <div class="col-xl-5 col-lg-5 mx-auto ">
            <div class="card shadow mb-4 checkCategoryCard">
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold ">
                        <span>We have predicted the category for your transaction as </span> <strong>{{category}}</strong>.<br>
                        <span>If you want to change it, you may do it on this page.</span>
                        <span>Please click on "Confirm" to record this transaction.</span>
                    </h6>
                </div>
            </div>
            <!-- Card Body -->
            <div class="card-body shadow checkCategoryCard">
                <form action="{% url 'manual-demo' %}" class="user" method='post'>
                    {% csrf_token %}
                    <div class="form-group">
                        <input class="form-control btn-user" name="dateOfTransaction"
                               placeholder="Date of Transaction"
                               required type="date" value="{{ date}}">
                    </div>
                    <div class="form-group">
                        <input class="form-control btn-user" name="description" placeholder="Description"
                               required type="text" value="{{ description }}">
                    </div>
                    <div class="form-group">
                        <input class="form-control btn-user py-1" name="cost" placeholder="Cost"
                               required type="number" value="{{ cost }}">
                    </div>
                    <div class="dropdown">
                        <label for="category">Choose a category</label>
                        <select class=" form-control btn-user py-1 " id="category1" name="category" required >
                            <option value="Automobile">Automobile</option>
                            <option value="Bank Transfer">Bank Transfer</option>
                            <option value="Cash Withdrawal">Cash Withdrawal</option>
                            <option value="Education">Education</option>
                            <option value="Entertainment">Entertainment</option>
                            <option value="Fine">Fine</option>
                            <option value="Food">Food</option>
                            <option value="Health Care">Health Care</option>
                            <option value="Other">Other</option>
                            <option value="Paytm">Paytm</option>
                            <option value="Recharge">Recharge</option>
                            <option value="Shopping">Shopping</option>
                            <option value="Travel">Travel</option>
                            <option value="UPI">UPI</option>
                        </select>
                    </div>
                    <br>
                    <div>
                        <button class="btn btn-primary btn-user btn-block" type="submit" name="confirmCategory" value="confirmCategory">
                            Confirm
                        </button>
                    </div>
                </form>
            </div>
            <script>
                            function setSelectedIndex(s, v) {
                                for ( var i = 0; i < s.options.length; i++ ) {

                                    if ( s.options[i].text == v ) {
                                        s.options[i].selected = true;
                                        return;
                                    }
                                }
                            }
                             setSelectedIndex(document.getElementById('category1'), "{{ category }}" );
                        </script>
        </div>
    </div>
    <!-- End of Content Wrapper -->
</div>
<!-- Footer -->

<!-- Bootstrap core JavaScript-->

<script type="text/javascript">
    function newPage(num) {
        var url = new Array();
        url[0] = "{% url 'home-demo' %}";
        window.location = url[num];
        ``
    }
</script>
{% endblock %}