{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block navbar_view_transactions %}
<!--View Transactions -->
<li class="nav-item active">
    <a class="nav-link" href="{% url 'transactions' %}">
        <i class="fa fa-eye"></i>
        <span>View Transactions</span></a>
</li>
{% endblock %}

{% block content %}

<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800 mt-4">Your Transactions</h1>
    <p class="mb-4">All your transactions can be found here. You can update them by clicking on the transactions.</a></p>

    <!-- DataTables Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Transactions</h6>
        </div>
        <form method="">
            {% csrf_token %}
            <div class="card-body">
                <div class="table-responsive">
                    <table cellspacing="0" class="table table-bordered" id="dataTable" width="100%">
                        <thead class="thead-dark">
                        <tr>
                            <th>Date</th>
                            <th>Description</th>
                            <th>Cost</th>
                            <th>Category</th>
                            <th>Delete</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for transaction in transactions %}
                        <tr>
                            <td>  <a href="/transaction/{{transaction.id}}/update" style="color:gray;">{{ transaction.date }} </a> </td>
                            <td>  <a href="/transaction/{{transaction.id}}/update" style="color:gray;">{{ transaction.description }} </a> </td>
                            <td>  <a href="/transaction/{{transaction.id}}/update" style="color:gray;">{{ transaction.cost }} </a> </td>
                            <td>{{ transaction.category }}</td>
                            <td><input name="t{{transaction.id}}" type="checkbox" unchecked
                                       value="clicked"></input></td>

                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <button class="btn btn-primary mx-auto" name="delete" type="submit" value="delete">
                        Delete
                    </button>
                </div>
            </div>
        </form>
    </div>

</div>

<!-- /.container-fluid -->
{% endblock %}