@font-face {
    font-family: Ubuntu-Bold;
    src: url('../fonts/ubuntu/Ubuntu-Bold.ttf');
}



body
{	margin: 10;
	padding: 0;
	background-size: cover;
	background-position: center;
    font-family: Ubuntu-Regular, sans-serif;

}

.img_box
{	width:100px;
	height: 100px;
	border-radius: 50%;
	position: absolute;
	top: -50px;
	left: cal(50% - 50px);
}
.MIP
{
    text-align: center;
    justify-content: center;
    align-items: center;
}
.MIP span{
    font-family: Ubuntu-Bold;
    font-size: 50px;
    color: #fff;
    line-height: 1.2;
    text-align: center;
    text-transform: uppercase;
}

.box
{	width: 320px;
	height: 420px;
	background: #fff ;
	top: 50%;
	left: 50%;
	position: absolute;
	transform: translate(-50%,-50%);
	box-sizing: border-box;
	padding: 10px 0px;
	font-family: Ubuntu-Regular;

    font-size: 20px;
    justify-content: center;
    align-items: center;

    <!--edge curve-->
    border-radius: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}
.form-tag-box{
    margin: 25px;
    padding: 0px 10px;
    border-bottom: 1px solid #e6e6e6
}
.form-tag-box input{
    padding: 0 30 0px;
    font-family: Ubuntu-Regular, sans-serif;
}

.submit button[type="submit"]
{
    font-family: Ubuntu-Bold;
    font-size: 18px;
    color: #fff;
    line-height: 1.2;
    text-transform: uppercase;

    margin-left: 80px;
    margin-right: 80px;
    padding-bottom: 10px;
    padding-top: 10px;
    min-width: 160px;
    height: 42px;
    border-radius: 21px;

    background: #d41872;
    background: -webkit-linear-gradient(left, #a445b2, #d41872, #fa4299);
    background: -o-linear-gradient(left, #a445b2, #d41872, #fa4299);
    background: -moz-linear-gradient(left, #a445b2, #d41872, #fa4299);
    background: linear-gradient(left, #a445b2, #d41872, #fa4299);

    z-index: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;


}


.box-1
{	width: 320px;
	height: 420px;
	background: #fff ;
	top: 50%;
	left: 50%;

	box-sizing: border-box;
	padding: 10px 0px;
	font-family: Ubuntu-Regular;

    font-size: 20px;
    justify-content: flex-start
    align-items: center;

    <!--edge cruve-->
    border-radius: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}
.box-2
{	width: 320px;
	height: 420px;
	background: #fff ;
	top: 50%;
	left: 50%;

	box-sizing: border-box;
	padding: 10px 0px;
	font-family: Ubuntu-Regular;

    font-size: 20px;
    justify-content: flex-end
    align-items: center;

    <!--edge cruve-->
    border-radius: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}
.graph-container{
    margin: 0.9%;
    background: #FDFEFE;
    display: flex;
    justify-content: space-between;
}

.graph-box{
    display: flex;
    justify-content: space-around;
}

.to-shorten{
    font-size: 15px
}















<!--.box p
{	margin: 0;
	padding: 0;
	font-weight: bold; 
	
}

.box input
{	width: 100%;
	margin-bottom: 10px;
	margin-top: 10px;

}

.box input[type="text"], input[type="password"]
{	border: none;
	border-bottom: 1px solid #fff;
	background: transparent;
	outline: none;
	height: 40px;
	color: #D5D8DC;
	font-size: 16px;
}

.box input[type="submit"] 
{
	border: none;
	outline: none;
	height: 40px;
	background: #F1C40F;
	color: #fff;
	font-size= 18px;
	border-radius: 20px;

}
.box input[type="submit"]:hover
{	cursor: pointer;
	background: #2ECC71;
	colour: #000;
}

.box a
{	text-decoration: none:
	font-size: 12px;
	line-height: 20px;
	color: darkgrey;
}

.box a:hover
{	colour: #F1C40F;
}

.mheading
{	margin: 0;
	padding: 5 5 5px;
	text-align: center;
	font-size: 35px;
	background: #E74C3C;
	color: #FDFEFE;
}

