{% load static %}

<!DOCTYPE html>
<html lang="en">
<link href="{% static 'images/icons/icon.ico' %}" rel="icon" type="image/png"/>
<head>

    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <meta content="" name="description">
    <meta content="" name="author">
    <link href="{% static 'images/icons/icon.ico' %}" rel="icon" type="image/png"/>
    <title>Expense Manager</title>

    {% if user.is_authenticated %}

    <script src="https://use.fontawesome.com/aea125d216.js"></script>
    <!-- Custom fonts for this template -->
    <link href="{% static 'imp/vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'imp/css/sb-admin-2.min.css' %}" rel="stylesheet">
    <script src="https://use.fontawesome.com/aea125d216.js"></script>
    <!-- Custom styles for this page -->
    <link href="{% static 'imp/vendor/datatables/dataTables.bootstrap4.min.css' %}" rel="stylesheet">

</head>

<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">
    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

        <!-- Sidebar - Brand -->
        <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/myapp/">
            <img src="{% static 'images/icons/icon.ico' %}" width="50">
            <div class="sidebar-brand-text mr-3">Expense Manager</div>
        </a>

        <!-- Divider -->
        <hr class="sidebar-divider my-0">

        <!-- Nav Item - Dashboard -->
        <li class="nav-item">
            <a class="nav-link" href="/myapp/dashboard">
                <i class="fas fa-fw fa-tachometer-alt"></i>
                <span>Dashboard</span></a>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider">

        <!-- HEADING Transactions-->
        <div class="sidebar-heading">
            <h6>Transactions</h6>
        </div>

        <!-- Add Transactions Items -->
        <li class="nav-item active">
            <a aria-controls="collapseTwo" aria-expanded="true" class="nav-link collapsed" data-target="#collapseTwo"
               data-toggle="collapse" href="#">
                <i class="fas fa-plus-circle"></i>
                <span>Add Transactions</span>
            </a>
            <div aria-labelledby="headingTwo" class="collapse" data-parent="#accordionSidebar" id="collapseTwo">
                <div class="bg-white py-2 collapse-inner rounded">
                    <a class="collapse-item" href="/myapp/manual">Add Manually</a>
                    <a class="collapse-item" href="/myapp/bill">Add Bill</a>
                    <a class="collapse-item" href="/myapp/csv">Add CSV</a>
                </div>
            </div>
        </li>

        <!--View Transactions -->
        <li class="nav-item ">
            <a class="nav-link" href="/myapp/transactions">
                <i class="fa fa-eye"></i>
                <span>View Transactions</span></a>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider">

        <!-- HEADING STATISTICS -->
        <div class="sidebar-heading">
            <h6>STATISTICS</h6>
        </div>

        <!-- Charts -->
        <li class="nav-item">
            <a class="nav-link" href="/myapp/charts">
                <i class="fas fa-fw fa-chart-area"></i>
                <span>Charts</span></a>
        </li>


        <!-- Divider -->
        <hr class="sidebar-divider d-none d-md-block">
        <!-- HEADING ACCOUNT -->
        <div class="sidebar-heading">
            <h6>ACCOUNT</h6>
        </div>

        <!-- Log Out -->
        <li class="nav-item">
            <a class="nav-link" href="/myapp/logout">
                <i aria-hidden="true" class="fa fa-sign-out"></i>
                <span>Log Out</span></a>
        </li>


        <!-- Sidebar Toggler (Sidebar) -->
        <div class="text-center d-none d-md-inline">
            <button class="rounded-circle border-0" id="sidebarToggle"></button>
        </div>

    </ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div class="d-flex flex-column" id="content-wrapper">

        <!-- Main Content -->
        <div id="content">

            <!-- Begin Page Content -->
            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="d-sm-flex align-items-center justify-content-between my-4">
                    <h1 class="h3 mb-0 text-gray-800">Upload Your Bill</h1>
                </div>
                <!-------------------------------------------------------------------------------------------------------------------------->

                <div class="mx-auto">
                    <div class="col-xl-6 col-lg-6 mx-auto">
                        <div class="card shadow mb-4">
                            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                <h6 class="m-0 font-weight-bold ">
                                    <span>Upload a Bill and we will extract the information and Add it to your Transactions</span>
                                </h6>
                            </div>
                        </div>

                        <!-- Card Body -->
                        <div class="card-body shadow ">
                            <form class="user" method="post" action="/myapp/bill" enctype="multipart/form-data">
                                {% csrf_token %}
                                <div class="form-group">
                                    <label>Upload a file</label>
                                    <br>
                                    <input accept=".png, .jpg, .jpeg" class="form " name="file" required type="file">
                                    <p>Accepts .png, .jpg and .jpeg files only</p>
                                    <div>
                                        <button class="btn btn-primary btn-user btn-block" name="ocr_submit"
                                                type="submit">
                                            Upload Bill
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>

                    </div>
                </div>
            </div>
        </div>


        <!-- End of Content Wrapper -->

        <!-- Footer -->
        <footer class="sticky-footer bg-white mt-4">
            <div class="container my-auto">
                <div class="copyright text-center my-auto">
                    <span>Copyright &copy; EXPENSE MANAGER 2020</span>
                </div>
            </div>
        </footer>
        <!-- End of Footer -->
    </div>
    <!-- End of Page Wrapper -->

</div>


<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>
{% else %}
<h1>You are not signed in!</h1>
<h2>Kindly sign in, You will be redirected in 5 seconds</h2>
<meta content="5; url = '/myapp/login' " http-equiv="refresh">
{% endif %}
<!-- Bootstrap core JavaScript-->
<script src="{% static 'imp/vendor/jquery/jquery.min.js' %}"></script>
<script src="{% static 'imp/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

<!-- Core plugin JavaScript-->
<script src="{% static 'imp/vendor/jquery-easing/jquery.easing.min.js' %}"></script>

<!-- Custom scripts for all pages-->
<script src="{% static 'imp/js/sb-admin-2.min.js' %}"></script>

<!-- Page level plugins -->
<script src="{% static 'imp/vendor/datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'imp/vendor/datatables/dataTables.bootstrap4.min.js' %}"></script>

<!-- Page level custom scripts -->
<script src="{% static 'imp/js/demo/datatables-demo.js' %}"></script>


</body>

</html>
