{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    {% if user.is_authenticated %}
    <title>Expense Manager</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="{% static 'images/icons/icon.ico' %}"/>
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'css/util.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <!--===============================================================================================-->
</head>

<body>

<h1>This is your Dashboard</h1>
<p>
<div class="container-login100-form-btn m-t-32">
    <form class="login100-form validate-form p-b-33 p-t-5" action='/myapp/signout' method='get'>

        <h2> You are logged in as {{ request.user }}</h2>
        <div class="container-login100-form-btn m-t-32">
            <button class="login100-form-btn" type="submit">
                Logout
            </button>
        </div>

    </form>

    <form class="login100-form validate-form p-b-33 p-t-5" action='/myapp/predict' method='post'>
        {% csrf_token %}
        <div class="wrap-input100 validate-input" data-validate="Enter your Transaction">
            <input class="input100" type="text" name="transaction" placeholder="Transaction">
            <span class="focus-input100" data-placeholder="&#xe82a;"></span>
        </div>

        <div class="container-login100-form-btn m-t-32">
            <button class="login100-form-btn" type="submit">
                Predict
            </button>
        </div>
    </form>

</div>
</p>


{% else %}
<h1>Nice try, smarty!</h1>
<h1>Kindly sign in, like human beings and you will see what you should</h1>
<meta http-equiv="refresh" content="3; url = '/myapp/login' ">
{% endif %}

</body>
</html>
