{% load static %}


<html lang="en">
<head>
    <title>Manual Input Page</title>
   <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <!--===============================================================================================-->
</head>
<body>
    <div class="MIP">
        <span>
            Manual Input Page
        </span>
    </div>
<div class="box">

    <div class="form-box">
        <form  action='' method='get' style="margin-bottom: 00px;">
            {% csrf_token %}
            <div class="form-tag-box" >
                <input  type="text" name="Description" placeholder="Description">
                 <input class="input100" type="text" name="transaction" placeholder="Transaction">
            </div>
            <div class="form-tag-box">
                <input  type="text" name="Price" placeholder="Price">
            </div>
            <div class="form-tag-box">
                <input  type="drop-down" name="Category" placeholder="Category">
            </div>
            <div class="submit">
                <button  type="submit">
                    Send
                </button>
            </div>
        </form>
       </div>
</div>


</body>
</html>