{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block navbar_profile %}
<!-- Begin Page Content -->
<li class="nav-item active">
    <a class="nav-link" href="/myapp/profile">
        <i class="fa fa-user"></i>
        <span>Profile</span></a>
</li>
{% endblock %}
{% block content %}

<div class="container-fluid">
<!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between my-4">
        <h1 class="h3 mb-0 text-gray-800">Profile</h1>
    </div>
</div>
<!-------------------------------------------------------------------------------------------------------------------------->
<div class="col-xl-5 col-lg-5 mx-auto">
    <div class="card shadow mb-4 mx-auto">
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
            <div class="card mx-auto" style="width:400px">
                <div class="card-img-top">
                    <img class="img-thumbnail" src="media/{{ user.profile.image }}" alt="Profile image">
                </div>
                <div class="card-body">
                    <h4 class="card-title">Username: {{ user.username }}</h4>
                    <h4 class="card-title">Name: {{ user.first_name }} {{ user.last_name }}</h4>
                    <h4 class="card-title">Email: {{ user.email }}</h4>
                </div>
                <br>
                <div class="mx-auto">
                    <div class="form-group align-items-center">
                        <a href="/myapp/profile/update">
                            <button class="btn btn-outline-info" type="submit">Edit</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}