{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-169214518-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());

        gtag('config', 'UA-169214518-1');
    </script>

    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <meta content="" name="description">
    <meta content="" name="author">
    <link href="{% static 'images/icons/icon.ico' %}" rel="icon" type="image/png"/>
    <title>Expense Manager</title>

    <!-- Custom fonts for this template-->
    <link href="{% static 'imp/vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">
    <link href="{% static 'images/icons/icon.ico' %}" rel="icon" type="image/png"/>
    <!-- Custom styles for this template-->
    <link href="{% static 'imp/css/sb-admin-2.min.css' %}" rel="stylesheet">

</head>

<body class="bg-gradient-success">

<!-- TOP NAVBAR -->
<div class="container-fluid">
    <nav class="navbar navbar-expand-lg navbar-dark bg-gray-900  fixed-top">
        <a class="navbar-brand" href="{% url 'home' %}">
            <img alt="" class="d-inline-block align-top" height="30" src="{% static 'images/icons/icon.ico' %}"
                 width="30">
            Expense Manager
        </a>
    </nav>
</div>

<!-- REGISTER FORM -->
<div class="container">
    <div class="row justify-content-center">
        <div class="col-xl-10 col-lg-12 col-md-9" style="margin-top: 40px;">

            <div class="card o-hidden border-0 shadow-lg my-5">
                <div class="card-body p-0">
                    <!-- Nested Row within Card Body -->
                    <div class="row">
                        <div class="ml-2 col-lg-5 d-none d-lg-block bg-login-image"></div>
                        <style>
                            .vl {
                                border-left: 2px solid green;
                                height: 500px;
                            }

                        </style>
                        <div class="col-lg-0.25 vl pr-2 d-none d-lg-block"></div>
                        <div class="col-lg-6 col-xs-12">

                            <div class="p-5 ml-4">
                                <div class="text-center">
                                    <h1 class="h2 text-gray-900 mb-4">Create an Account</h1>
                                </div>
                                <form action="{% url 'register' %}" class="user" method="post">
                                    {% csrf_token %}
                                    <div class="form-group row">
                                        <div class="col-sm-6 mb-3 mb-sm-0">
                                            <input class="form-control form-control-user" name="firstName"
                                                   placeholder="First Name"
                                                   required type="text">
                                        </div>
                                        <div class="col-sm-6">
                                            <input class="form-control form-control-user" name="lastName"
                                                   placeholder="Last Name"
                                                   required type="text">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <input class="form-control form-control-user" id="id_email" name="email"
                                               placeholder="Email Address"
                                               required type="email">
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-sm-6 mb-3 mb-sm-0">
                                            <input class="form-control form-control-user" id="id_username"
                                                   name="username"
                                                   placeholder="Username" required type="text">
                                        </div>
                                        <div class="col-sm-6">
                                            <input class="form-control form-control-user" name="password"
                                                   placeholder="Password" required type="password">
                                        </div>
                                    </div>
                                    <button class="btn btn-primary btn-user btn-block">
                                        Register Account
                                    </button>
                                    <hr>
                                </form>
                                <div class="text-center">
                                    <a class="small" href="{% url 'login' %}">Already have an account? Login</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Bootstrap core JavaScript-->
<script src="{% static 'imp/vendor/jquery/jquery.min.js' %}"></script>
<script src="{% static 'imp/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

<!-- Core plugin JavaScript-->
<script src="{% static 'imp/vendor/jquery-easing/jquery.easing.min.js' %}"></script>

<!-- Custom scripts for all pages-->
<script src="{% static 'imp/js/sb-admin-2.min.js' %}"></script>
<script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<!-- Logic to check if username already exists -->
{% block javascript %}
<script>
    $("#id_username").change(function () {
        var username = $(this).val();

        $.ajax({
            url: '/validate_username',
            data: {
                'username': username
            },
            dataType: 'json',
            success: function (data) {
                if (data.is_taken) {
                    swal({
                        text: "A user with this username already exists.\nPlease try again with a different username.",
                        icon: "warning",
                    });
                }
            }
        });

    });

</script>
<script>
    $("#id_email").change(function () {
        var email = $(this).val();

        $.ajax({
            url: '/validate_email',
            data: {
                'email': email
            },
            dataType: 'json',
            success: function (data) {
                if (data.is_taken) {
                    swal({
                        text: "A user with this email id already exists.\nPlease try again with a different email id.",
                        icon: "warning",
                    });
                }
            }
        });

    });

</script>
{% endblock %}

</body>
</html>
