{% load static %}

<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>

    <!-- Required meta tags -->
    <link rel="icon" type="image/png" href="{% static 'images/icons/icon.ico' %}"/>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    {% if user.is_authenticated %}
    <title>Expense Manager</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="{% static 'images/icons/icon.ico' %}"/>
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'css/util.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">

</head>
<body>
<div class="container-fluid mb-3">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top mb-3">
        <a class="navbar-brand" href="/myapp/">
            <img src="{% static 'images/icons/icon.ico' %}" width="30" height="30" class="d-inline-block align-top"
                 alt="">
            Expense Manager
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-5 ">
                <li class="nav-item active">
                    <button type="button" class="btn btn-outline-primary mr-3" onclick="newPage(0)">BACK</button>
                </li>
            </ul>
        </div>
    </nav>
</div>

<script type="text/javascript">
    function newPage(num) {
        var url = new Array();
        url[0] = "/myapp/dashboard";
        window.location = url[num];
        ``
    }
</script>


<br>
<br>
<br>
<br><br>
<br><br><br>




<form class="login100-form validate-form p-b-33 p-t-5" action='/myapp/predict' method='post'>
    {% csrf_token %}
    <div class="wrap-input100 validate-input" data-validate="Enter your Transaction">
        <input class="input100" type="text" name="transaction" placeholder="Transaction" required>
        <span class="focus-input100" data-placeholder="&#xe82a;"></span>
    </div>

    <div class="container-login100-form-btn m-t-32">
        <button class="btn btn-outline-dark" type="submit">
            Predict
        </button>

    </div>

</form>
{% else %}
<h1>You are not signed in!</h1>
<h2>Kindly sign in, You will be redirected in 5 seconds</h2>
<meta http-equiv="refresh" content="5; url = '/myapp/login' ">
{% endif %}
</body>
</html>